@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    color: #211E55;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.table-wrapper {
    width: 85%;
    margin-left: 15%;
    /* height: 100vh; */
    background: #fff;
    padding: 20px 25px;
    /* margin: 30px 0; */
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
    padding-bottom: 15px;
    background: #6f6486;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    z-index: 100;
    /* position: fixed; */
    /* width: 85%; */
    /* border-radius: 3px 3px 0 0; */
}
.table-title h2 {
    margin: 0;
    font-size: 24px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    float: right;
    font-size: 13px;
    min-width: 50px;
    border-radius: 2px;
    outline: none !important;
    margin-left: 10px;
    transition: 0.3s;
}
.table-title .btn:hover {
    background-color: teal;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}

.user_btn {
    display: flex;
    align-items: center;
}

.user_btn h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: .375rem .75rem;
    font-size: 14px;
}